@model LoginModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/main-logo-darktext.png" class="homepage-img"/>
    <h1>Backend admin panel</h1>
    
    @if (Model.Message != string.Empty)
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="alert alert-danger" role="alert"><b>@Model.Message</b></div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}