@model AdminLoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div>
    <div class="text-center">
        <img src="~/img/main-logo-darktext.png" class="homepage-img"/>
        <h1 class="mb-lg-5">Backend admin panel</h1>

        @if (Model.Message != string.Empty)
        {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="alert alert-danger" role="alert"><b>@Model.Message</b></div>
                </div>
            </div>
        }
    </div>
    
    <div class="mt-4 row text-center justify-content-center">
        <div class="col-md-4">
            <form class="form-group" method="post" asp-action="Index">
                <input type="text" class="form-control" name="Username" id="username-input" placeholder="Enter username" required>
                <input type="password" class="form-control mt-2" name="Password" id="password-input" placeholder="Enter password" required>
                <button type="submit" class="btn btn-primary mt-4 w-50 h-25"><b>Log in</b></button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}