@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">

    <img src="img/main-logo-darktext.png" width="400"/>
    <h1>Backend admin panel</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">ERRORERRORERROR</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="form-group" method="post" asp-action="Index">
                <label for="username-input"><b>Enter username:</b></label>
                <input type="text" class="form-control" name="Username" id="username-input" placeholder="eg. coolusername123" required>
                <label for="password-input"><b>Enter password:</b></label>
                <input type="password" class="form-control" name="Password" id="password-input" placeholder="eg. strongpassword123" required>
                <button type="submit" class="btn btn-primary mt-2">Log in</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}