html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.homepage-img {
  margin-bottom: 1%;
  width: 400px;
}

.card-crystal {
    background-color: #ACDDDE;
}

.card-nyanza {
    background-color: #E1F8DC;
}

.card-cornsilk {
    background-color: #FEF8DD;
}

.card-sandytan {
    background-color: #F7D8BA;
}